.sub-header {
  height: 100vh;
  width: 60px;
  background: #162030;
  position: fixed;
  z-index: 999;
}

.wrapper-icon {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.icon {
  font-size: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: rgb(134, 230, 49);
  border-bottom: 1px solid white;

  &:hover {
    color: white;

  }
}
